{namespace site.block}
/**
 *
 * @param text
 * @param title
 * @param subtitle
 * @param position
 */
{template .smalltext}
  <article class="block smalltext {$position}" data-type="smalltext">
    <div>
      <h1>{$title}</h1>
      <h2>{$subtitle}</h2>
      {$text|noAutoescape}
    </div>
  </article>
{/template}