{namespace site.block}
/**
 * Says hello to the world.
 * @param categories
 * @param icon
 * @param txt
 * @param num
 * @param width
 * @param height
 * @param title
 * @param background
 */
{template .text}

{let $url}

{/let}

<figure class="block text" data-type="txt" data-size="300x430"> 
     <h2>{$title}</h2>
     <p class="blocktext">{$text}</p>
     
</figure> 
{/template}