{namespace site.block}
/**
 * @param text
 * @param title
 */
{template .text}
<figure class="block text" data-type="txt" data-size="300x430">
     <h2>{$title}</h2>
     <p class="blocktext">{$text}</p>

</figure>
{/template}