{namespace site.block}
/**
 * Says hello to the world.
 * @param url
 * @param content
 */
{template .photo}
  <article class="block photo left" data-type="photo">
    <div>
      <img src="{$url}">
    </div>
    <p>{$content|noAutoescape}</p>
  </article>
{/template}