{namespace site.block}
/**
 * Says hello to the world.
 * @param browsers
 */
{template .varbrowserdevice}
  <article class="core9-block varbrowserdevice" data-type="varbrowserdevice">

	<table>
	
	{foreach $browser in $browsers}
	
		<tr><td>Visitor {$browser.case} using any of these browsers:</td><td>{$browser.type}</td></tr>
		
	{/foreach}	
		
	</table>
    
    
  </article>
{/template}
