{namespace site.block}
/**
 * Says hello to the world.
 * @param case
 * @param browser
 */
{template .varbrowserdevice}
  <article class="core9-block varbrowserdevice" data-type="varbrowserdevice">

	<table>
		<tr><td>Visitor {$case} using any of these browsers:</td><td>{$browser}</td></tr>
	</table>
    
    
  </article>
{/template}
