{namespace site.block}
/**
 * @param url
 * @param content
 * @param title
 * @param height
 * @param width
 */
{template .video}
    <article class="block" data-type="video" style="width:{$width}px;height:{$height}px;overflow:hidden;background-color:#59595B;">
      <iframe width="{$width}" height="{$height}" src="{$url}" frameborder="0" allowfullscreen></iframe>
      <h1>{$title}</h1>
      <p>{$content|noAutoescape}</p>
    </article>
{/template}