{namespace site.block}
/**
 * Says hello to the world.
 * @param photourl
 * @param content
 */
{template .smallphoto}
  <article class="block smallphoto right" data-type="smallphoto">
    <div>
      <img src="{$photourl}" />
      <div>{$content|noAutoescape}</div>
    </div>
   </article>
{/template}