{namespace site.block}
/**
 * Says hello to the world.
 * @param photourl
 * @param content
 * @param position
 */
{template .smallphoto}
  <article class="core9-block smallphoto {$position}" data-type="smallphoto">
    <div>
      <img src="{$photourl}" />
      <div>{$content|noAutoescape}</div>
    </div>
   </article>
{/template}